.regist {
	padding: 10px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: whitesmoke;
	border-radius: 4px;
}
h3{
	border-bottom: 0px #e0e0e0 solid;
}
div.pageHeader {
	border-top: 0px #e0e0e0 solid;
	border-right: 0px #e0e0e0 solid;
	border-bottom: 1px #e0e0e0 solid;
	border-left: 0px #e0e0e0 solid;
}

div.subjectBar {
	text-align: left;
	float: left;
}

div.userBar {
	text-align: right;
}

div.titlebar {
	color: white;
	font-weight: bold;
	padding: 0.1em;
}