@(msg: String, user: User, form1 : Form[Book], books : List[Book])

<!DOCTYPE html>

<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")" >
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")" >
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
       	<style type="text/css">
		.regist {
		    padding: 10px 15px;
		    margin-bottom: 20px;
		    list-style: none;
		    background-color: whitesmoke;
		    border-radius: 4px;
		}
		</style>
		<title>図書館アプリ</title>
    </head>
    <body>
	<div class="container">
		<h3 class="page-header text-primary">図書館アプリ
		<small style="margin-left:10px">本の貸し借りを支援するサービスです</small>
		</h3>
		@msg
		user:@user.username
		@helper.form(action = routes.Application.logout()){
			<button type="submit" class="btn btn-primary">Logout</button>
		}
	</div>
	<center>
	<div class="container">
		<div class="form-inline regist" role="form">
		<label>あなたの持っている本を登録しましょう</label>
		@helper.form(action = routes.Application.register) {
			<input type="text" class="form-control" name="isbn_code" placeholder="ISBNコード">
			<input type="submit" value="登録" class="btn btn-primary" id="register">
		}
		</div>
	</div>		
	</center>
	<div class="container">
	<table class="table table-striped">
	<tr>
		<th>画像</th>
		<th>本の名前</th>
		<th>著者</th>
		<th>出版社</th>
		<th>持ち主</th>
		<th>借り人</th>
		<th></th>
	</tr>
	@for(book <- books) {
		<tr>
		    <td><img src=@book.image></td> 
			<td>@book.book_name</td>
			<td>@book.author</td>
			<td>@book.publisher</td>
			<td>@book.owner.username</td>
			<td>
 			@if(book.borrower != null) {
				@book.borrower.username
			}
			</td>
			<td>
			@if(book.owner.id == user.id) {
				@helper.form(action = routes.Application.logicalDelete(book.id)) {
					<input type="submit" value="削除" class="btn btn-danger">
				}			
			} else { 
				@if(book.borrower == null) {
					@helper.form(action = routes.Application.borrowBook(book.id)) {
						<input type="submit" value="借りる" class="btn btn-primary">
					}
				} else {
					@if(book.borrower.id == user.id) {
						@helper.form(action = routes.Application.returnBook(book.id)) {
							<input type="submit" value="返す" class="btn btn-primary">
						}			
					} else {
						<button class="btn btn-default" disabled>貸出中</button>
					}
				}
			}
			</td>
		</tr>
	}
	</div>
    </body>
</html>
