@(message: String, form1 : Form[Book], books : List[Book])

@main("俺の図書館") {
<div class="container">
	<h3 class="page-header text-primary">俺の図書館
	<small style="margin-left:10px">@message</small>
	</h3>
</div>

<center>
<div class="form-inline regist">
<label>あなたの持っている本を登録しましょう</label>
	@helper.form(action = routes.Application.register) {
		@(helper.inputText (
			field = form1("book_name")
		))
		@(helper.inputText (
			field = form1("owner_name")
		))
	<input type="submit" value="登録" class="btn btn-primary" id="register">
	}
</div>
</center>

<table class="table table-striped">
<tr>
	<th>本の名前</th>
	<th>持ち主</th>
	<th>削除フラグ</th>
	<th>論理削除</th>
	<th>物理削除フラグ</th>
</tr>
@for(book <- books) {
	<tr>
		<td>@book.book_name</td>
		<td>@book.owner_name</td>
		<td>@book.deleteStatus</td>
		<td>
		@helper.form(action = routes.Application.logicalDelete(book.id)) {
			<input type="submit" value="削除" class="btn btn-primary">
		}
		</td>
		<td>
		@if(book.bookStatus.equals("0")){
			@helper.form(action = routes.Application.borrowBook(book.id)) {
				<input type="submit" value="借りる" class="btn btn-primary">
			}
		}else{
			@helper.form(action = routes.Application.returnBook(book.id)) {
				<input type="submit" value="返す" class="btn btn-primary">
			}
		}
		</td>
	</tr>
}
}