@(room : Room, msg: String, user: User, form1 : Form[Book], books :
List[Book])

<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<html>
<head>@tag.header()
</head>
<body>
	@tag.title(user)
<!-- subscribe -->
	<center>
	<div class="subscribe">
		<div class="container">
		@msg
		<h3>REGISTER YOUR BOOK</h3>
		<div class="col-md-12 contact">
			<div class="col-md-3">
			@helper.form(action = routes.Application.register(room.id)) {
				<input type="text" class="form-control" name="isbn_code" placeholder="ISBN CODE">
				<input type="submit" value="REGISTER" class="customSubmit"
				id="register">
			}
			</div>
		</div>
	</center>
	<div class="container">
		<!-- BOOK LIST -->
		<div class="container">
			<h2 align="center"><span>BOOK LIST</span></h2>
			<div class="gallery">
				@for(book <- books) {
				<div class="col-md-3">
					<div class="icon">
						<a target="_blank" href=@book.amazonURL><img src=@book.image></a>
					</div>
					<div class="data">
						<h5><a target="_blank" href=@book.amazonURL>@book.book_name</a></h5>
						<p>own : @book.owner.username</p>
						<p>now :
						@if(book.borrower != null) { @book.borrower.username } else { N/A }
						</p>
						<p>@if(book.owner.id == user.id) { @helper.form(action =
								routes.Application.logicalDelete(book.id)) { <input type="submit"
								value="削除" class="btn btn-danger"> } } else {
								@if(book.borrower == null) { @helper.form(action =
								routes.Application.borrowBook(book.id)) { <input type="submit" value="借りる" class="btn btn-primary"> } } else {
								@if(book.borrower.id == user.id) { @helper.form(action =
								routes.Application.returnBook(book.id)) { <input type="submit"
								value="返す" class="btn btn-primary"> } } else {
								<button class="btn btn-default" disabled>貸出中</button> } } }
						</p>
					</div>
					<div class="clear"> </div>
				</div>
				}
			</div>
		</div>
		<!-- BOOK LIST -->
	</div>
</body>
@tag.footer()
</html>
