@(message: String, form: play.data.Form[models.User])

<html>
	<head>
	<title>Login</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")" >
		<style type="text/css">
		body{backgroud-color: #ccc: padding: 20px;}
		h1{color: #fff;}
		input,button{padding: 4px 8px; height:3em}
		.error{color:#933}
		.login{
		border:1px solid #aaa; padding: 10px 14 px; margin-top: 10px;
		background-color: #fff; width: 300px}
		</style>
	</head>
	<body>
	<header><h1>Login</h1></header>
	<h5>@message</h5>
	@helper.form(action = routes.Authentication.authenticate()){
	@if(form.hasGlobalErrors){
		<p class="error">@form.globalError.message</p>
	}
	<div class="container">
	<div class="col-xs-3">
		<p><input type="text" name="username" class="form-control" placeholder="Username" value="@form("username").value"></p>
		<p><input type="password" name="password" class="form-control" placeholder="Password"></p>
		<p><input type="submit" value="Login" class="btn btn-primary"></p>
		</div>
	</div>
	}
	
	@helper.form(action = (routes.Registration.regPage())) {
		<input type="submit" value="Registration Page" class="btn btn-danger">
	}
	
	</body>
</html>