@(message: String, form: play.data.Form[models.User])

<html>
<head>
@tag.header()
</head>
<body>
	<div class="container">
		<h3 class="page-header text-primary">
			Login
			<h5>@message</h5>
	</div>
	<div class="container">
		<div class="col-xs-3">
			@helper.form(action = routes.Authentication.authenticate()){
			@if(form.hasGlobalErrors){
			<p class="error">@form.globalError.message</p>
			}
			<p>
				<input type="text" name="username" class="form-control"
					placeholder="Username" value="@form("username").value">
			</p>
			<p>
				<input type="password" name="password" class="form-control"
					placeholder="Password">
			</p>
			<p>
				<input type="submit" value="Login" class="btn btn-primary">
			}
			</p>

				@helper.form(action = (routes.Registration.regPage())) { <input
					type="submit" value="Registration Page" class="btn btn-danger">
				}
		</div>
	</div>
</body>
</html>