@(msg: String, user: User,rooms: List[Room], form1: Form[Room])

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<html>
<head>@tag.header()
</head>
<body>
	@tag.title(user)
<!-- subscribe -->
	<div class="subscribe">
		<div class="container">
			<h3>REGISTER NEW LIBRARY</h3>
			@msg
			<div class="col-md-12 contact">
				<div class="col-md-3">
				@helper.form(action = routes.Roomlist.register) {
						<input type="text" class="text" name="room_name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'TITLE';}">
						<input class="customSubmit" type="submit" value="REGISTER">
					}
				</div>
					<div class="clear"> </div>
			</div>
		</div>
	</div>
<!-- subscribe -->
	
	<!-- LIBRARY LIST -->
		<div class="work">
			<div class="container">
					<h2>LIBRARY LIST</h2>
				<div class="gallery">
					@for(room <- rooms) {
					<div class="col-md-3 gallery1">
						<a href="@{routes.Application.init(room.id, "welcome")}"><img src="@routes.Assets.at("smartphone/images/img1.jpg")" class="img-responsive" alt="" />
						<h6>@room.room_name by @room.create_user.username</a><i></i>
					</div>	
					}						
						<div class="clear"> </div>
				</div>
			</div>
		</div>
	<!-- LIBRARY LIST -->
</body>
@tag.footer()
</html>