@(rooms: List[Room], form1: Form[Room])

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>部屋一覧</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.css")" >
</head>
<body>
	<center>
	<div class="container">
		<div class="form-inline regist" role="form">
		<label>新しく部屋を作る</label>
		@helper.form(action = routes.Roomlist.register) {
			<input type="text" class="form-control" name="room_name" placeholder="部屋の名前">
			<input type="submit" value="登録" class="btn btn-primary" id="register">
		}
		</div>
	</div>		
	</center>
	
	<div class="container">
	<table class="table table-striped">
	<tr>
		<th>部屋の名前</th>
		<th>作成者</th>
		<th></th>
	</tr>
	@for(room <- rooms) {
		<tr>
			<td>@room.room_name</td>
			<td>@room.create_user.username</td>
			<td><a href="@{routes.Application.init(room.id, "Welcome")}">入室する</a></td>
		</tr>
	}
	</div>
	</table>

</body>
</html>